{{ define "main" }}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Base64 Decode and Encode - Online</title>
        <link href="style.css" rel="stylesheet"/>
      <script async="" src="decoder.js"></script>

    </head>
<body>
  <div class="wrapper">
    <ins class="ad_left" style="margin-top: 222px;"></ins>
    <main>
      <header>
        <a class="logo" href="https://www.base64decode.org/"><span>BASE64</span><span>Decode and Encode</span></a>
        <nav>
          <a class="active" href="https://www.base64decode.org/"><i class="fas fa-folder-open"></i>Decode</a>
          <a href="https://www.base64encode.org/" rel="external"><i class="fas fa-folder"></i>Encode</a>
        </nav>
        <div class="clear"></div>
        <div class="intro">Do you have to deal with <strong>Base64</strong> format? Then this site is perfect for you! Use our super handy online tool to encode or <strong>decode</strong> your data.</div>
      </header>
      <ins class="ad_top"></ins>
      <section>
        <h1>Decode from Base64 format</h1>
        <label for="input">Simply enter your data then push the decode button.</label>
        <form name="text" onsubmit="return decodeBase64(this)" id="decodeSubmitInput">
          <textarea id="input" name="input" placeholder="Type (or paste) here..." spellcheck="false"></textarea>
          <span class="info"><i class="fas fa-info-circle"></i>For encoded binaries (like images, documents, etc.) use the file upload form a little further down on this page.</span>
          <span class="option"><button id="submit_text" type="submit"><i class="fas fa-chevron-left"></i>DECODE<i class="fas fa-chevron-right"></i></button><label for="output">Decodes your data into the area below.</label></span>
        </form>
        <textarea id="output" name="output" placeholder="Result goes here..." spellcheck="false"></textarea>
      </section>
      <aside>
        <div class="bookmark">
          <h3><i class="fas fa-star"></i>Bonus tip: Bookmark us!</h3>
        </div>
        <ins class="ad_right"></ins>
        <nav>
          <h3><i class="fas fa-cog"></i>Other tools</h3>
          <a href="https://www.urldecoder.org/" rel="external">URL Decode<i class="fas fa-envelope-open"></i></a>
          <a href="https://www.urlencoder.org/" rel="external">URL Encode<i class="fas fa-envelope"></i></a>
          <a href="https://www.minifyjson.org/" rel="external">JSON Minify<i class="fas fa-file-archive"></i></a>
          <a href="https://www.beautifyjson.org/" rel="external">JSON Beautify<i class="fas fa-file-code"></i></a>
          <a href="https://www.uglifyjs.net/" rel="external">JS Minify<i class="fas fa-hand-rock"></i></a>
          <a href="https://www.prettifyjs.net/" rel="external">JS Beautify<i class="fas fa-hand-paper"></i></a>
          <a href="https://www.uglifycss.com/" rel="external">CSS Minify<i class="fas fa-meh"></i></a>
          <a href="https://www.prettifycss.com/" rel="external">CSS Beautify<i class="fas fa-smile"></i></a>
        </nav>
        <nav>
          <h3><i class="fas fa-random"></i>Partner sites</h3>
          <a href="https://www.convzone.com/" rel="external">Number System Converter<i class="fas fa-exchange-alt"></i></a>
          <a href="https://www.ratingraph.com/" rel="external">TV Show and Movie Ratings<i class="fas fa-chart-line"></i></a>
          <a href="https://www.chatcrypt.com/" rel="external">Secure Group Chat<i class="fas fa-shield-alt"></i></a>
        </nav>
        <ins class="ad_corner"></ins>
      </aside>
      <article>
        <h2><i class="fas fa-question-circle"></i>About</h2>
<div data-nosnippet="">Meet Base64 Decode and Encode, a simple online tool that does exactly what it says: decodes from Base64 encoding as well as encodes into it quickly and easily. Base64 encode your data without hassles or decode it into a human-readable format.<br>
<br>
Base64 encoding schemes are commonly used when there is a need to encode binary data, especially when that data needs to be stored and transferred over media that are designed to deal with text. This encoding helps to ensure that the data remains intact without modification during transport. Base64 is used commonly in a number of applications including email via MIME, as well as storing complex data in XML or JSON.<br>
<br>
<b>Advanced options</b><br>
<ul>
<li><u>Character set:</u> In case of textual data, the encoding scheme does not contain the character set, so you have to specify which character set was used during the encoding process. It is usually UTF-8, but can be many others; if you are not sure then play with the available options or try the auto-detect option. This information is used to convert the decoded data to our website's character set so that all letters and symbols can be displayed properly. Note that this is irrelevant for files since no web-safe conversions need to be applied to them.</li>
<li><u>Decode each line separately:</u> The encoded data usually consists of continuous text, so even newline characters are converted into their Base64 encoded forms. Prior to decoding, all non-encoded whitespaces are stripped from the input to safeguard the input's integrity. This option is useful if you intend to decode multiple independent data entries that are separated by line breaks.</li>
<li><u>Live mode:</u> When you turn on this option the entered data is decoded immediately with your browser's built-in JavaScript functions, without sending any information to our servers. Currently, this mode supports only the UTF-8 character set.</li>
</ul></div>
<b>Safe and secure</b><br>
<br>
All communications with our servers come through secure SSL encrypted connections (https). We delete uploaded files from our servers immediately after being processed and the resulting downloadable file is deleted right after the first download attempt or 15 minutes of inactivity (whichever is shorter). We do not keep or inspect the contents of the submitted data or uploaded files in any way. Read our privacy policy below for more details.<br>
<br>
<b>Completely free</b><br>
<br>
Our tool is free to use. From now on, you don't need to download any software for such simple tasks.<br>
<br>
<b>Details of the Base64 encoding</b><br>
<br>
Base64 is a generic term for a number of similar encoding schemes that encode binary data by treating it numerically and translating it into a base-64 representation. The Base64 term originates from a specific MIME-content transfer encoding.<br>
<br>
<u>Design</u><br>
<br>
The particular choice of characters to make up the 64 characters required for Base64 varies between implementations. The general rule is to choose a set of 64 characters that is both 1) part of a subset common to most encodings, and 2) also printable. This combination leaves the data unlikely to be modified in transit through systems such as email, which were traditionally not 8-bit clean. For example, MIME's Base64 implementation uses A-Z, a-z, and 0-9 for the first 62 values, as well as "+" and "/" for the last two. Other variations, usually derived from Base64, share this property but differ in the symbols chosen for the last two values; an example is the URL and filename safe "RFC 4648 / Base64URL" variant, which uses "-" and "_".<br>
<br>
<u>Example</u><br>
<br>
Here's a quote snippet from Thomas Hobbes's Leviathan:<br>
<br>
"<i>Man is distinguished, not only by his reason, but ...</i>"<br>
<br>
This is represented as an ASCII byte sequence and encoded in MIME's Base64 scheme as follows:<br>
<br>
TWFuIGlzIGRpc3Rpbmd1aXNoZWQsIG5vdCBvbmx5IGJ5IGhpcyByZWFzb24sIGJ1dCAuLi4=<br>
<br>
In the above quote the encoded value of <i>Man</i> is <i>TWFu</i>. Encoded in ASCII, the letters "M", "a", and "n" are stored as the bytes 77, 97, 110, which are equivalent to "01001101", "01100001", and "01101110" in base-2. These three bytes are joined together in a 24 bit buffer producing the binary sequence "010011010110000101101110". Packs of 6 bits (6 bits have a maximum of 64 different binary values) are converted into 4 numbers (24 = 4 * 6 bits) which are then converted to their corresponding values in Base64.<br>
<br>
<div class="scrollx">
<table>
  <tbody><tr>
    <th>Text content</th>
    <td colspan="8">M</td>
    <td colspan="8">a</td>
    <td colspan="8">n</td>
  </tr>
  <tr>
    <th>ASCII</th>
    <td colspan="8">77</td>
    <td colspan="8">97</td>
    <td colspan="8">110</td>
  </tr>
  <tr>
    <th>Bit pattern</th>
    <td>0</td>
    <td>1</td>
    <td>0</td>
    <td>0</td>
    <td>1</td>
    <td>1</td>
    <td>0</td>
    <td>1</td>
    <td>0</td>
    <td>1</td>
    <td>1</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>1</td>
    <td>0</td>
    <td>1</td>
    <td>1</td>
    <td>0</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>0</td>
  </tr>
  <tr>
    <th>Index</th>
    <td colspan="6">19</td>
    <td colspan="6">22</td>
    <td colspan="6">5</td>
    <td colspan="6">46</td>
  </tr>
  <tr>
    <th>Base64-encoded</th>
    <td colspan="6">T</td>
    <td colspan="6">W</td>
    <td colspan="6">F</td>
    <td colspan="6">u</td>
  </tr>
</tbody></table>
</div>
<br>
As this example illustrates, Base64 encoding converts 3 uncoded bytes (in this case, ASCII characters) into 4 encoded ASCII characters.
      </article>
      <footer>
        <div><i class="fas fa-copyright"></i>2022 tijolotech.com</div>
        <div><b>This website uses cookies.</b> We use cookies to personalise content/ads and to analyse our traffic.</div>
      </footer>
    </main>
    <div class="clear"></div>
  </div>
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-74823759-10"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-74823759-10');
    window.siteDomain = 'base64decode.org';
    window.clientClass = 'neutral';
    window.requestProperties = 'eyJ1c2VyQWdlbnQiOiJNb3ppbGxhXC81LjAgKE1hY2ludG9zaDsgSW50ZWwgTWFjIE9TIFggMTBfMTVfNykgQXBwbGVXZWJLaXRcLzYwNS4xLjE1IChLSFRNTCwgbGlrZSBHZWNrbykgVmVyc2lvblwvMTYuMCBTYWZhcmlcLzYwNS4xLjE1IiwiYWNjZXB0TGFuZ3VhZ2UiOiJwdC1CUixwdDtxPTAuOSJ9';
  </script>
  <script async="" src="https://cdn.base64decode.org/assets/build/bundle.8cb742b2e85a7c0bac7a47eb2c73e37814adf851.js"></script>


</body></html>
{{ end }}
